<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Affirmations Page</title>
    <meta name="description" content="Affirmations page for Positive website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/positive/css/main.css">
    <link rel="stylesheet" href="/positive/css/medium.css">
    <link rel="stylesheet" href="/positive/css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
       
    </header>
    <nav>
        <a href="/positive/index.html"><img src="/positive/images/house_icon.png" alt="home icon"></a>
        <a href="/positive/views/gratitude.html"><img src="/positive/images/hearts_icon.png"></a>
        <a class="active" href="/positive/views/affirmations.html"><img src="/positive/images/happy_icon.png"></a>
        <a href="/positive/views/journal.html"><img src="/positive/images/journal_icon.png"></a>
    </nav>
    
    <main class="affirmations-main">
        <h1>Affirmations</h1>

        
    </main>

    <footer>
    
    </footer>

    <script src="/positive/js/main.js"></script>

</body>

</html>