<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Gratitude Page</title>
    <meta name="description" content="Gratitude page for Positive website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/positive/css/main.css">
    <link rel="stylesheet" href="/positive/css/medium.css">
    <link rel="stylesheet" href="/positive/css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
       
    </header>
    <nav>
        <a href="/positive/index.html"><img src="/positive/images/house_icon.png" alt="home icon"></a>
        <a class="active" href="/positive/views/gratitude.html"><img src="/positive/images/hearts_icon.png"></a>
        <a href="/positive/views/affirmations.html"><img src="/positive/images/happy_icon.png"></a>
        <a href="/positive/views/journal.html"><img src="/positive/images/journal_icon.png"></a>
    </nav>
    
    <main class="gratitude-main">
        <h1>Gratitude</h1>

        <div class="gratitude-container-div">
            <form onsubmit="saveGratitudeLiist(), loadGratitudeList()">
                <label>Date: </label><input type="date" id="gratitude-date" required>
                <label class="gratitude-label">1. </label><input id="gratitude-input-1" required>
                <label class="gratitude-label">2. </label><input id="gratitude-input-2" required>
                <label class="gratitude-label">3. </label><input id="gratitude-input-3" required>
                <input id="gratitude-save" type="submit" value="Save">
            </form>
        </div>

        <h2>Gratitude History</h2>
        <div id="graditude-history-div">
            <ul id="gratitude-list">

            </ul>

        </div>
    </main>

    <footer>
    
    </footer>

    <script src="/positive/js/gratitude.js"></script>

</body>

</html>